NUXT_ADMIN_DEV_BYPASS=true
NUXT_ACCESS_ALLOWED_EMAILS=alexa6425@gmail.com,shopbeapicks@gmail.com
NUXT_PUBLIC_ACCESS_TEAM_DOMAIN=flat-wave-3363.cloudflareaccess.com
NUXT_PUBLIC_SITE_URL=https://shopbeapicks.com
